# Docker config
DOCKER_PORT=

# App config
APP_NAME=
APP_VERSION=

# Database config
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USER=

# JWT config
JWT_ALGORITHM=
JWT_SECRET_KEY=

# PGAdmin config
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
